@charset "UTF-8";
/* colores */
/* ROSA CLARITO */
/* ROSA OSCURO */
/* ROSA LILA */
/* font */
/* tamaño letra */
/* REM EM = 1REM: 16px */
/* REM  toma de ref la letra M, y EM toma de ref la X. FULL RESPONSIVE */
/* FOOTER */
footer {
  /* foooter grid */
  background-color: rgba(177, 27, 77, 0.733);
  /*  background-image: linear-gradient($color-secundario, $color-principal); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "navegacion mapa info seguinos" "derechos derechos derechos derechos"; }
  footer .navegacion {
    grid-area: navegacion; }
  footer .mapa {
    grid-area: mapa; }
  footer .info {
    grid-area: info; }
  footer .seguinos {
    grid-area: seguinos; }
  footer .derechos {
    grid-area: derechos;
    display: grid; }
  footer .footer__texto-nav {
    font-size: 20px;
    color: #4b4848;
    text-decoration-color: rgba(228, 208, 208, 0.678); }
  footer .footer__texto {
    font-size: 15px;
    margin: 10px; }
  footer .footer__texto-derechos {
    font-size: 15px;
    color: black; }
  footer .footer__imagen {
    /* ANCHO, FONDO COLOR DE MARGEN Y BOX MODEL DE IMAGEN DE REDES  */
    width: 200px;
    padding: 15px;
    margin: 10px;
    border: #e9a6a6 solid 10px;
    border-radius: 10px; }

h4 {
  font-family: "Fascinate";
  color: white;
  font-size: 30px; }

.maps {
  display: grid;
  justify-content: baseline; }

ul {
  list-style: none;
  padding: 0px; }

.mail {
  text-decoration: underline;
  text-decoration-color: aqua;
  color: aqua; }

/* maps */
/* EXTEND - extender codigo: clases base que sean iguales */
.boxmodelyborder-contactanos, .maps__link, .maps__imagenlogo {
  padding: 15px;
  margin: 20px;
  border: #d26bdb solid 10px;
  border-radius: 15px; }

.size-img, .maps__img, .maps__logo {
  width: 500px;
  height: 400px; }

.form, .form__nombre, .form__email, .form__textarea {
  padding: 10px;
  font-size: 25px; }

.quienessomos-img, .img .lidherma, .img .idraet, .img .exel, .img .carthage, .img .laca, .img .zine {
  background-size: cover;
  background-position: center; }

/* fondo de seccion */
main {
  background-color: #e9a6a6; }

/* letra, box model, borde fondo de parrafo */
.somos__texto {
  font-family: "Roboto";
  font-size: 30px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  background-color: #e65f75;
  list-style: none;
  /* saca puntos a los items */
  border: white solid 10px;
  border-radius: 10px; }

/* tipo de letra fondo color y borde del subtitulo de las marcas */
.subtitulo__marcas {
  font-family: "Fascinate";
  font-size: 30px;
  padding: 30px;
  text-align: center;
  border: #e65f75 solid 10px;
  border-radius: 10px; }
  .subtitulo__marcas:hover {
    /* tranformaciones y transiciones */
    transform: scale(1, 1.15);
    /* zoom */
    transition: all 2s; }

/* grid en galeria */
.img {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "lidherma idraet exel" "lidherma carthage exel" "laca carthage zine"; }
  .img .lidherma {
    background-image: url("../resources/lidherma.jpg");
    grid-area: lidherma; }
  .img .idraet {
    background-image: url("../resources/idraet dermopuriti.png");
    grid-area: idraet; }
  .img .exel {
    background-image: url("../resources/exel.png");
    grid-area: exel; }
  .img .carthage {
    background-image: url("../resources/carthage.png");
    grid-area: carthage; }
  .img .laca {
    background-image: url("../resources/laca.png");
    grid-area: laca; }
  .img .zine {
    background-image: url("../resources/zine.jpg");
    grid-area: zine; }

* {
  margin: 0px;
  /* margen externo */
  padding: 0px;
  /* margen interno */ }

/* COLOR DE FONDO HEADER NAV */
.header {
  position: sticky;
  top: 0px;
  background-color: #e9a6a6;
  z-index: 10; }
  .header__nombre-pag {
    /* todo piel texto grande en el nav */
    text-align: center;
    background-color: #e9a6a6;
    padding: 30px; }

h1 {
  /* titulo de todas las pag todo piel beauty house */
  font-family: "Fascinate";
  color: white;
  background-color: #e65f75; }

/* nav bootstrap */
.nav {
  display: flex;
  flex-wrap: wrap;
  display: inline; }
  .nav__page {
    font-size: 20px; }
    .nav__page:hover {
      transform: scale(1.15, 1.15);
      /* agrandamiento */
      transition: all 1s; }

/* main y flex */
.main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  /* view widht ancho de la pantalla */ }

/* INICIO INDEX */
/* NOMBRE DE CADA PAGINA */
/* TIPO DE LETRA, COLOR Y FONDO */
h2 {
  font-family: "Fascinate";
  color: white;
  background-color: #e65f75;
  padding: 20px; }

/* COLOR DE FONDO, flex, TAMAÑO Y TIPO DE LETRA DE PAGINA TEXTO INICIO */
main p {
  background-color: #e9a6a6;
  font-family: "Roboto";
  font-size: 25px;
  padding: 0 16px;
  display: flex;
  text-align: center;
  justify-content: center; }
  main p__texto {
    /* CENTRADO BOX MODEL DE TEXTO de galeria */
    padding: 50px; }

/* fondo, flex boton */
.button {
  background-color: #e9a6a6;
  display: flex;
  justify-content: center;
  align-items: center; }

.boton__turno {
  /* TIPO DE LETRA, BOX MODEL, borde Y COLOR DE FONDO DE BOTON DE TURNO */
  font-family: "Fascinate";
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px; }
  .boton__turno:hover {
    /* tranformaciones y transiciones */
    background-image: radial-gradient(white, #e65f75);
    transform: scale(1.15, 1.15);
    /* agrandamiento */
    transition: all 1s; }

/* COLOR DE FONDO flex Y BOX MODEL DE MAPS E INSTAGRAM */
.redes {
  padding: 30px;
  background-image: linear-gradient(#e9a6a6, #d26bdb, #e65f75);
  background-position: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap; }

/* COLOR DE FONDO y grid  y flex DE LOS ITEMS PROPUESTA */
.items {
  background-color: #e9a6a6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "propuesta items logo";
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  /* TAMAÑO DE LETRA DE LOS ITEMS */ }
  .items__propuesta {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 15px; }
  .items__items {
    grid-column: 2/3;
    grid-row: 1/2; }
  .items__logo {
    grid-column: 3/4;
    grid-row: 1/2; }
  .items__propuesta--letra {
    /* TIPO DE LETRA, BOX MODEL Y TAMAÑO DE LOS ITEMS DE LA PROPUESTA */
    font-family: "Roboto";
    font-size: 20px;
    padding: 30px;
    list-style: square;
    /* en vez de punto, es cuadrado */
    display: flex;
    flex-direction: column; }
  .items__logo {
    /* ANCHO, COLOR DE MARGEN Y BOX MODEL DEL LOGO PRINCIPAL ABAJO DE LA PROPUESTA */
    background-color: #e9a6a6;
    width: 300px;
    margin: 20px;
    padding: 10px; }

/* TIPO DE LETRA, COLOR Y TAMAÑO DEL SUBTITULO DE LA PROPUESTA */
h3 {
  font-family: "Fascinate";
  color: #e65f75;
  font-size: 30px;
  background-color: #e9a6a6;
  display: flex;
  justify-content: flex-start; }

/* SERVICIOS */
/* grid  y flex en servicios */
.servicios {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagen titulo" "imagen boton"; }
  .servicios__imagen {
    /* tamaño d imagenes */
    width: 300px;
    height: 200px;
    border: #e65f75 solid 7px;
    object-fit: cover;
    object-position: center;
    margin: 12px; }
  .servicios__titulo {
    /* titulo de servicio */
    font-family: "Fascinate";
    font-size: 20px;
    text-decoration: overline;
    margin: 30px; }
  .servicios__boton {
    /* boton */
    border: #e65f75 solid 5px;
    border-radius: 15px;
    font-size: 20px;
    margin: 30px; }
    .servicios__boton:hover {
      /* tranformaciones y transiciones */
      background-image: radial-gradient(white, #e65f75);
      transform: scale(1.15, 1.15);
      transition: all 3s; }
  .servicios__img-seccion {
    background-color: rgba(214, 127, 140, 0.641);
    border: #d26bdb solid 5px;
    border-radius: 15px;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagen titulo" "imagen boton"; }
    .servicios__img-seccion:hover {
      /* tranformaciones y transiciones */
      transform: scale(1.05, 1.05);
      transition: all 2s; }
    .servicios__img-seccion .imagen {
      grid-area: imagen;
      grid-column: 1/1;
      grid-row: 1/3; }
    .servicios__img-seccion .titulo {
      grid-area: titulo;
      grid-column: 2/3;
      grid-row: 1/1;
      text-align: center; }
    .servicios__img-seccion .boton {
      grid-area: boton;
      grid-column: 2/3;
      grid-row: 2/3; }

/* PROMOS Y SPA */
/* grid imgen principal */
.principal {
  display: grid;
  height: 100vh;
  background-image: url(../resources/spa.jpg);
  background-size: cover;
  background-position: center;
  grid-template-columns: 1 fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px; }
  .principal__texto {
    /* flex texto principal */
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 50px;
    text-shadow: 2px 2px 7px black;
    color: white; }

/* grid y flex card */
.card__seccion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "uno dos tres" "cuatro cinco seis";
  gap: 20px;
  /* espacio entre las tarjetas */
  padding: 40px; }
  .card__seccion .uno {
    grid-column: 1/2;
    grid-row: 1/2; }
    .card__seccion .uno:hover {
      /* tranformaciones y transiciones */
      transform: rotate(10deg);
      transition: all 1s; }
  .card__seccion .dos {
    grid-column: 2/3;
    grid-row: 1/2; }
    .card__seccion .dos:hover {
      /* tranformaciones y transiciones */
      transform: rotate(-10deg);
      transition: all 1s; }
  .card__seccion .tres {
    grid-column: 3/4;
    grid-row: 1/2; }
    .card__seccion .tres:hover {
      /* tranformaciones y transiciones */
      transform: rotate(10deg);
      transition: all 1s; }
  .card__seccion .cuatro {
    grid-column: 1/2;
    grid-row: 2/3; }
    .card__seccion .cuatro:hover {
      /* tranformaciones y transiciones */
      transform: rotate(-10deg);
      transition: all 1s; }
  .card__seccion .cinco {
    grid-column: 2/3;
    grid-row: 2/3; }
    .card__seccion .cinco:hover {
      /* tranformaciones y transiciones */
      transform: rotate(10deg);
      transition: all 1s; }
  .card__seccion .seis {
    grid-column: 3/4;
    grid-row: 2/3; }
    .card__seccion .seis:hover {
      /* tranformaciones y transiciones */
      transform: rotate(-10deg);
      transition: all 1s; }

.cardtitulo {
  text-align: center;
  font-size: 30px;
  font-family: "Fascinate"; }

.card__button {
  /* boton cards */
  border: #d26bdb solid 2px;
  border-radius: 15px;
  color: black;
  padding: 10px;
  margin: 10px;
  align-items: center; }
  .card__button:hover {
    /* tranformaciones y transiciones */
    background-image: radial-gradient(white, #e65f75);
    transform: scale(1.15, 1.15);
    transition: all 1s; }

/* texto card */
p .card__texto {
  text-align: center;
  font-size: 20px;
  background-color: #e65f75; }

/* CONTACTANOS */
/* COLOR DE FONDO Y BOX MODEL */
.form, .form__nombre, .form__email, .form__textarea {
  background-image: linear-gradient(#e9a6a6, #d26bdb, #e65f75); }
  .form__botones {
    /* fondo, margin y padding botones de enviar y borrar */
    padding: 10px;
    margin: 10px;
    font-size: 20px; }
    .form__botones:hover {
      /* tranformaciones y transiciones */
      background-image: radial-gradient(white, #e65f75);
      transform: scale(1.15, 1.15);
      transition: all 1s; }

.mb-3 {
  margin: 20px; }

.botones {
  margin: 40px; }

/* flex maps*/
.maps {
  background-color: #e9a6a6;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .maps__link {
    /* box model de link de maps */ }
  .maps__imagenlogo {
    /* box model de imagen logo */ }

/* MEDIA QUERIE */
/* media de celular */
/* 99.9% siempre debe haber una sola columna */
/* 0,1% son galerias cuadriculadas que pueden tener hasta 3 columnas */
@media (min-width: 320px) and (max-width: 575px) {
  /* index TAMAÑO IMAGENES GALERIA */
  .galeria__imagen {
    width: 280px;
    /* ancho */ }
  /* index ANCHO DEL LOGO PRINCIPAL ABAJO DE LA PROPUESTA */
  .items__logo {
    width: 200px; }
  /* quienes somos logos de marcas */
  .img {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "lidherma"  "idraet" "exel" "carthage" "laca" "zine"; }
    .img .lidherma {
      background-image: url("../resources/lidherma.jpg");
      grid-area: lidherma;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .idraet {
      background-image: url("../resources/idraet dermopuriti.png");
      grid-area: idraet;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .exel {
      background-image: url("../resources/exel.png");
      grid-area: exel;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .carthage {
      background-image: url("../resources/carthage.png");
      grid-area: carthage;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .laca {
      background-image: url("../resources/laca.png");
      grid-area: laca;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .zine {
      background-image: url("../resources/zine.jpg");
      grid-area: zine;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
  /* servicios tarjetas */
  .servicios {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .servicios__imagen {
      width: 100px;
      height: 100px;
      border: #e65f75 solid 10px; }
    .servicios__titulo {
      font-family: "Fascinate";
      font-size: 13px;
      text-decoration: overline;
      display: flex;
      text-align: center;
      margin: 0%; }
    .servicios__boton {
      background-image: linear-gradient(#e9a6a6, #e65f75);
      border: #e65f75 solid 5px;
      border-radius: 5px;
      padding: 5px;
      font-size: 10px;
      margin: 5px;
      width: 100px;
      height: 50px; }
  .servicios__img-seccion {
    margin: 10px; }
  /* promos tarjetas */
  .card__seccion {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "uno" "dos" "tres" "cuatro"  "cinco"  "seis"; }
    .card__seccion .uno {
      grid-column: 1/2;
      grid-row: 1/2; }
    .card__seccion .dos {
      grid-column: 1/2;
      grid-row: 2/3; }
    .card__seccion .tres {
      grid-column: 1/2;
      grid-row: 3/4; }
    .card__seccion .cuatro {
      grid-column: 1/2;
      grid-row: 4/5; }
    .card__seccion .cinco {
      grid-column: 1/2;
      grid-row: 5/6; }
    .card__seccion .seis {
      grid-column: 1/2;
      grid-row: 6/7; }
    .card__seccion__imagen {
      width: 100px;
      height: 100px; }
  /* cotactanos */
  .maps {
    display: flex;
    flex-direction: column; }
    .maps__img {
      width: 200px;
      height: 200px; }
    .maps__logo {
      width: 200px;
      height: 200px; }
  /* FOOTER */
  footer {
    /* foooter grid */
    background-color: rgba(177, 27, 77, 0.733);
    /*  background-image: linear-gradient($color-secundario, $color-principal); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navegacion" "mapa"  "info" "seguinos" "derechos"; }
    footer .navegacion {
      grid-area: navegacion; }
    footer .mapa {
      grid-area: mapa; }
    footer .info {
      grid-area: info; }
    footer .seguinos {
      grid-area: seguinos; }
    footer .derechos {
      grid-area: derechos;
      display: grid; }
    footer .footer__texto-nav {
      font-size: 20px;
      color: #4b4848;
      text-decoration-color: #e4d0d0;
      display: grid;
      text-align: center; }
    footer .footer__texto {
      font-size: 15px;
      margin: 10px;
      display: grid;
      text-align: center; }
    footer .footer__texto-derechos {
      font-size: 15px;
      color: black; }
    footer .footer__imagen {
      /* ANCHO, FONDO COLOR DE MARGEN Y BOX MODEL DE IMAGEN DE REDES  */
      width: 200px;
      padding: 15px;
      margin: 60px;
      border: #e9a6a6 solid 10px;
      border-radius: 10px; }
    footer .maps {
      margin: 60px;
      height: 200px;
      width: 200px; }
    footer h4 {
      display: grid;
      text-align: center;
      padding: 30px; } }

/* media querie de tablet */
@media (min-width: 576px) and (max-width: 992px) {
  /* quienes somos logos de marcas */
  .img {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "lidherma"  "idraet" "exel" "carthage" "laca" "zine"; }
    .img .lidherma {
      background-image: url("../resources/lidherma.jpg");
      grid-area: lidherma;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .idraet {
      background-image: url("../resources/idraet dermopuriti.png");
      grid-area: idraet;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .exel {
      background-image: url("../resources/exel.png");
      grid-area: exel;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .carthage {
      background-image: url("../resources/carthage.png");
      grid-area: carthage;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .laca {
      background-image: url("../resources/laca.png");
      grid-area: laca;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
    .img .zine {
      background-image: url("../resources/zine.jpg");
      grid-area: zine;
      grid-column: 1/1;
      grid-row: auto;
      background-size: cover;
      background-position: center; }
  /* servicios tarjetas */
  .servicios {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .servicios__imagen {
      width: 200px;
      height: 200px;
      border: #e65f75 solid 10px; }
    .servicios__titulo {
      font-family: "Fascinate";
      font-size: 25px;
      text-decoration: overline;
      display: flex;
      text-align: center;
      margin: 0%; }
    .servicios__boton {
      background-image: linear-gradient(#e9a6a6, #e65f75);
      border: #e65f75 solid 5px;
      border-radius: 5px;
      padding: 5px;
      font-size: 15px;
      margin: 5px;
      width: 200px;
      height: 50px; }
  .servicios__img-seccion {
    margin: 10px; }
  /* promos tarjetas */
  .card__seccion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uno dos" "tres cuatro"  "cinco seis"; }
    .card__seccion .uno {
      grid-column: 1/2;
      grid-row: 1/2; }
    .card__seccion .dos {
      grid-column: 2/3;
      grid-row: 1/2; }
    .card__seccion .tres {
      grid-column: 1/2;
      grid-row: 2/3; }
    .card__seccion .cuatro {
      grid-column: 2/3;
      grid-row: 2/3; }
    .card__seccion .cinco {
      grid-column: 1/2;
      grid-row: 3/4; }
    .card__seccion .seis {
      grid-column: 2/3;
      grid-row: 3/4; }
    .card__seccion__imagen {
      width: 200px;
      height: 200px; }
  /* cotactanos */
  .maps {
    display: flex;
    flex-direction: column; }
    .maps__img {
      width: 400px;
      height: 400px; }
    .maps__logo {
      width: 400px;
      height: 400px; }
  /* FOOTER */
  footer {
    /* foooter grid */
    background-color: rgba(177, 27, 77, 0.733);
    /*  background-image: linear-gradient($color-secundario, $color-principal); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navegacion" "mapa"  "info" "seguinos" "derechos"; }
    footer .navegacion {
      grid-area: navegacion; }
    footer .mapa {
      grid-area: mapa; }
    footer .info {
      grid-area: info; }
    footer .seguinos {
      grid-area: seguinos; }
    footer .derechos {
      grid-area: derechos;
      display: grid; }
    footer .footer__texto-nav {
      font-size: 30px;
      color: #4b4848;
      text-decoration-color: #e4d0d0;
      display: grid;
      text-align: center; }
    footer .footer__texto {
      font-size: 25px;
      margin: 10px;
      display: grid;
      text-align: center; }
    footer .footer__texto-derechos {
      font-size: 25px;
      color: black; }
    footer .footer__imagen {
      /* ANCHO, FONDO COLOR DE MARGEN Y BOX MODEL DE IMAGEN DE REDES  */
      width: 400px;
      padding: 15px;
      margin: 80px;
      border: #e9a6a6 solid 10px;
      border-radius: 10px; }
    footer .maps {
      margin: 80px;
      height: 400px;
      width: 400px; }
    footer h4 {
      font-size: 40px;
      display: grid;
      text-align: center;
      padding: 40px; } }
