/* colores */
$color-principal: rgb(233, 166, 166); /* ROSA CLARITO */
$color-secundario: rgb(230, 95, 117);/* ROSA OSCURO */
$color-terciario:rgb(210, 107, 219); /* ROSA LILA */

/* font */
$font-fascinate: 'Fascinate';
$font-roboto: 'Roboto';